.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


a {
    padding: 8px 16px 8px 16px;
    background-color: cornflowerblue;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 15px;
}

.twitter-tweet {
    margin: auto;
}

.approval {
    background-color: cadetblue;
    width: 400px;
    margin: auto;
    padding: 30px;
    color: white;
}

.invisible {
    display: none;
}

button {
    margin: 10px;
}

.back {
    display: block;
}

select {
    margin: 10px;
}

.amount {
    width: 50px;
}


.connect {
    background-color: lightblue;
    padding: 10px;
}

.tweet-input {
    width: 500px;
    height: 40px;
    font-size: 20px;
}

.main-input {
    width: 500px;
    margin: auto;
}

.donate-button, .connect-button, .back, .reward-button, .approval-button {
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px;
    font-size: 15px;
}

.donate-button {
    background-color: darkslategray;
}

.connect-button {
    background-color: cadetblue;
}

.back {
    background-color: darkcyan;
}

.reward-button, .approval-button {
    background-color: darkorange;
}

.approval-button {
    background-color: blueviolet;
}

.reward-button:disabled {
    background-color: gray;
}

.donated-panel {
    background-color: darkorange;
    color: white;
    width: 200px;
    display: block;
    margin: auto;
    padding: 23px;
    font-size: 23px;
    border-radius: 10px;
    font-weight: 600;
}